* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.hBar {
    background: linear-gradient(40deg, #EF5, #FD5, #AB4, #CF2, #C10);

    text-align: center;
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}


.header {
    width: 100%;
    height: 20%;
    background-color: rgb(55 206 45 / 28%);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-right: -40px;
   
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    line-height: 80px;
    margin-left: 20px;
}

.toggle {
    visibility: hidden;
}

.logo {
    height: 80px;
    width: 200px;
}

.logo img {
    position: fixed;
    top: -38px;
    left: 0;
    width: 300px;
    height: 158px;
}

.banner {
    background-image: url(../images/khanShab.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

.overly {
    background-color: aqua;
    opacity: .5;
    padding-bottom: 100px;
}

.content {

    text-transform: uppercase;
}

.content h1 {
    color: #5fe433;
    padding-top: 147px;
    font-size: 35px;
}

.content h1 b {
    color: #ff4343;
    font-size: 40px;
    line-height: 152px;
}

.content p {
    color: #7b468c;
    font-size: 25px;
    font-weight: 900;
}

/*banner*/

#about {
    padding-bottom: 100px;
    background-color: #ddd;
}



#about .box h2 {
    text-align: center;
    line-height: 4em;
}

#about .box p {
    width: 70%;
    height: 65%;
    line-height: 2em;
    background-color: #fff;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 35px;
    border: 10px inset #d9dc2e;
    border-radius: 25% 0% 25% 0%;
}

#about a {

    position: fixed;
    right: 20px;
    bottom: 14px;
    background: #a2f1ed;
    height: 23px;
    width: 30px;
    color: #fff;
    text-align: center;
    float: right;
    z-index: 1;

}

/**********services************/
#service {
    padding-bottom: 100px;
    background-color: #ddd;
}

#service .box {
    background-color: #ddd;
    width: 80%;
    margin: auto;
    height: 100%;
}

#service .box h2 {
    text-align: center;
    line-height: 4em;
}

#service .box p {
    line-height: 2em;

    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#service .box ul {
    padding-left: 41px;
    margin: 0px 68px;
    line-height: 3em;
    text-transform: uppercase;
    border-left: 5px solid green;
    list-style: none;
    font-size: 14px;
}

/*******************blog****************/

#blog {
    padding-bottom: 100px;
    background-color: #ddd;
}

#blog .box {
    background-color: #ddd;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog .box h2 {
    font-size: 60px;
    color: #FF9800;
}

/********works*********/

#works {
    padding-bottom: 100px;
    background-color: #ddd;

}

#works .box {
    background-color: #ddd;
    width: 80%;
    margin: auto;
    height: 100%;
}

#works .box .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

#works .portfolio {

    height: 150px;
    flex-basis: 30%;
    background: black;
    margin-top: 5%;

}

#works .box .container .portfolio h2 {
    color: #bbb;
    font-size: 30px;
    text-align: center;
}

/*******contact********/

#contact {

    width: 100%;
}

#contact .box {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;

}

#contact .overlay {
    background-color: rgba(0, 0, 0, 0.44);
}

#contact .division {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.left {
    width: 100%;
    padding: 20px;

}

.right {
    width: 100%;

}

#map {

    width: 100%;
}

.left h2 {
    text-align: center;
    color: #fff;
    margin: 5%;
}

.left p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.left input {
    width: 400px;
    height: 40PX;
    margin-bottom: 25px;
    background: transparent;
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 20px;
}

.left input::placeholder {
    color: #fff;
}

.left textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    padding-left: 12px;
}

/***********footer*********/
.footer {
    width: 100%;
    height: 10vh;
    background: #000;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #ddd;
}




/*********************responsive************/





/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .header {

        height: 80px;
        background-color: rgb(55 206 45 / 28%);
    }

    .menu {
        display: none;
        background: rgba(0, 128, 128, 0.62);
         margin-top: 80px;
    }

    .toggle {
        visibility: visible;
        line-height: 80px;

    }


    /*    ************** ******************/
    #works .portfolio {

        height: 150px;
        flex-basis: 48%;
        background: black;
        margin-top: 5%;

    }

    /*    *****************************  */

    #contact .division {


        display: block;
        padding: 34px 0;

    }


    .left {
        width: 100%;
        padding: 20px;



    }

    .right {
        width: 100%;
        padding: 0 24px;
        height: 300px;


    }

    #map {
        height: 300px;
    }

    .left h2 {
        text-align: center;
        color: #fff;
        margin: 5%;
    }

    .left p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .left input {
        width: 100%;
        height: 40PX;
        margin-bottom: 25px;
        background: transparent;
        display: block;
        border: 1px solid #fff;
        border-radius: 5px;
        padding-left: 20px;
    }

    .left input::placeholder {
        color: #fff;

    }

    .left textarea {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        padding-left: 12px;
        width: 100%;
    }




}



/*******************************/


@media (max-width: 767.98px) {
    .container {
        width: 100%;

    }

    .header {
        background-color: #fff;

    }

    .nav {
        display: block;
        justify-content: center;
    }

    .logo {
        width: 100%;
        height: 50px;
        display: block;
        background: #3d3e18;
    }

    .logo img {
        position: absolute;
        top: -60px;
        left: 112px;
        width: 300px;
        height: 158px;
    }

    .menu {
        display: none;
        
    }

    .t_holder {
        background: teal;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .toggle {
        position: relative;
        top: 12px;
        visibility: visible;
    }

    .content h1 {
        color: #5fe433;
        padding-top: 43px;
        font-size: 41px;
        text-align: center;
    }

    .content p {
        color: #7b468c;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
    }

    /*******************************/

    #about .box p {
        width: 70%;
        background-color: #fff;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 10px inset #d9dc2e;
        height: auto;
        line-height: 2rem;
        border-radius: 0;
        padding: 0;
    }

    /**************************************/

    #blog .box h2 {

        text-align: center;
        width: 100%;
        margin: auto;
    }

    /****************************************

*/
    #works .box {
        /* background-color: #ddd; */
        width: 100%;
        margin: 0;
        height: auto;
    }

    #works .portfolio {
        height: 150px;
        flex-basis: 100%;
        background: black;
        margin-top: 5%;
        margin-left: 20px;
        margin-right: 20px;
    }


    /*******************************/


    #contact .division {


        display: block;
        padding: 34px 0;

    }


    .left {
        width: 96%;
        padding: 20px 85px;

    }

    .right {
        width: 100%;
        padding: 0 24px;
        height: 300px;


    }

    #map {
        height: 300px;
        padding: 0px 54px;
        width: 80%;
    }

    .left h2 {
        text-align: center;
        color: #fff;
        margin: 5%;
    }

    .left p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
        padding-right: 106px;
    }

    .left input {
        width: 80%;
        height: 40PX;
        margin-bottom: 25px;
        background: transparent;
        display: block;
        border: 1px solid #fff;
        border-radius: 5px;
        padding-left: 20px;
    }

    .left input::placeholder {
        color: #fff;

    }

    .left textarea {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        padding-left: 12px;
        width: 80%;
    }


}